VITE_SUPABASE_URL=https://xaivgzrmxewkevlqvphi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhaXZnenJteGV3a2V2bHF2cGhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NjI3NjYsImV4cCI6MjA4NzUzODc2Nn0.OEfQpOU_NSiAeS_9WZd6u4uM9OB3hDpiKBj7Gl7GBzo
